PORT=8080
MONGODB_URI=mongodb://root:123456@localhost:27017/thanhls?authSource=admin

# CONGIG JWT
JWT_SECRET=336f2793-c7d4-4fcc-8bef-311c64e01f7e
JWT_ACCESS_TOKEN_EXPIRED=1000d

# CONFIG MAIL
MAIL_USER=
MAIL_PASS=
